*{
    margin:0%;
   
}
body{
    .poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
   font-size: 20px;
   
            
}
.navbar-links {
    display: flex;
    cursor: pointer;
     column-gap: 20px;
      
}
.navbar-links a{
    text-decoration: none;
    color: #1D232C;
 
}
.navbar-links a:hover{
    text-decoration: underline;
}
.navbar-menu-toggle{
    display:none;
}
/*side-navbar*/
.side-navbar{
    background-color: #1D232C;
    color:white;
    width: 50%;
    height: 100%;
    position: fixed;
    top:0;  
    left:-60%;
    padding: 20px;
   transition: 2s;
  
}
.SNav{
    cursor: pointer;
}
.side-navbar-link{
    margin-bottom: 30px;


}
.side-navbar-links{
      margin-bottom: 30px;
      cursor: pointer;
      
}
.side-navbar-links a{
   text-decoration: none;
   color: aliceblue;
      font-size: 20px;
   
}
.side-navbar-links a:hover{
  text-decoration: underline;
  color: #dddddd;
}

.header {
display: flex;
justify-content: center;
gap:50px;
padding:50px;
}
.header p {
  padding-bottom: 20px;
}


.header-button{

  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  background-color: #1D232C;
  color: aliceblue;
  cursor: pointer;
}
.service{
  padding:20px;

}
.service-container-1{
  display: flex;
  justify-content: space-between;
align-items: center;
padding: 10px;
}
.service-container-2{
    display: flex;
  justify-content: space-between;
align-items: center;
gap: 10px;
}
.service-container-2 div{
  background-color: #F2F4F7;
  border-radius: 5px;
  padding: 10px;
}
.new-arrival{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
 
}
.new-arrival-container{
 position: relative;
  flex-basis: 20%;
}
.new-arrival button{
padding-right: 10%;
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 10px;
  color:  #1D232C;

 position: absolute;
 top: 50%;
 left: 18%;
  border-radius: 10px;
  border: none;
  
}
.news{
  display: flex;
  flex-direction: column;
  align-items: center;
 margin-top: 20px;

}
.news input{
  padding:11px;
  width:80vw;
  margin-bottom: 10px;
  border:solid black 3px;
}
.news button{
margin-top:10px;
color: #F2F4F7;
background-color: #1D232C;
border-radius: 10px;
padding:10px;
border: none;
}
.footer{
  margin-top: 20px;
  padding: 40px;
  background-color: #1D232C;
  color: #F2F4F7;

}
.product-section{

  margin-top: 20px;
}
.product-search{
  width:80%;
  border:solid  black 2px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
  margin: auto;

}
.product-search input{
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
}
.products{
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.products-box{
  text-align: center;
  flex-basis: 20%;
}
.products-box img{
  border: 10px;
}

  .contact-form {
    background-color: #1D232C;
    color: #dddddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 60vw;
    margin: auto;
    padding: 5vw;
    padding-right: 10vw;
    margin-top: 10px;
  }

  .contact-form h2 {
    margin-bottom: 1vw;
   
  }

  .contact-form label {
    display: block;
    margin-bottom: 1vw;
 
  }

  .contact-form input[type="text"],
  .contact-form textarea {
    width: 100%;
    padding: 2vw;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-bottom: 1vw;
    font-size: 1vw;
    
  }

  .contact-form textarea {
    resize: vertical;
    height: 10vh;
  }

  .contact-form input[type="submit"] {
    
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    background-color: #0056b3;
  }

  .contact-form input [type="submit"]:hover {
    background-color: #18a6e8;
  }
  .contact-form input:focus{
    outline: none;
  }


/* Media query*/
@media screen  and (max-width:700px){
    .navbar-menu-toggle{
        display: block;
    }
    .navbar-links{
        display: none;
    }
    .header-image{
      display: none;
    }
    .service-container-1{
      display: none;
    }
      .service-container-2{

        flex-direction: column;
      }
  .contact{
     display: none;
  }
}
